.table {display: table;}
	.row {
    display: table-row;
    text-align: left;
    }
	.row > * {
    display: table-cell;}
	
	.table {border-spacing: 0 3px;}
	.row > :first-child {
		text-align:right;
		padding-right: 10px;
		}
	
	.ogStory {
		font-family: "Comic Sans MS", "Comic Sans", cursive;
		color: blue;
		
		
  		top: 10px;
		}

	.generatedStory {
		font-family: "Comic Sans MS", "Comic Sans", cursive;
		color: blue;
		visibility: hidden;
		position: absolute;
  		top: 10px;
	}
	.buttons {
		padding-top: 20px;
		font-family: "Tahoma";
		}
					
	.missingText {
		color: red
	}

	.reset {
	margin-top: 20px;
	}

	output {
	visibility: hidden; 
	}

	div {
		margin-right: 0px;}
		table {text-align: right;}
		table, th, td {border: none;}
		th, td {padding: 10px;}
	
	input {align: right}
	label{
		display: inline-block;
		float: left;
		clear: left;
		width: 100px;
	}
	input {
  		display: inline-block;
  	}
	button {
    font-family : Baskerville, "Palatino Linotype", Palatino, 
		"Century Schoolbook L", "Times New Roman", "serif" inherit;
	background-color: grey;
	}